//- includes/postman_ripoff.pug

block content
  h1 Postman Ripoff

  br

  select(name="options")
    option(value="1") GET
    option(value="2") POST
    option(value="3") PUT
    option(value="4") DELETE
    option(value="5") PATCH
